# Homework 2
***
* Assigned: 02/07
* Due: **02/27 at 11:59pm** electronically
* This assignment is worth 100 points.

**Please do read the instructions for each response carefully, since a whole lot of different variety of reponses are involved in the assignment (including pasting code snippets, writing executable code, small writeups). You don't wanna be losing points for silly errors.**

### Jupyter Notes:

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!
  * you can press shift+enter to execute the code in the cell that your cursor is in.
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_. Please wait for the execution to complete
    * **If the cell is hanging- i.e. running for too long: you can restart the kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute cells from the top
* _Have fun!_


### Setup Your Credentials

Update the following variables

In [1]:
# Your columbia uni that is used in SSOL
#
# IMPORTANT:  make sure this is consistent with the uni/alias used as your @columbia.edu email in SSOL
#
UNI = "jl4961"

# your instabase username (if you go to the instabase homepage, your username should be in the URL)
USER = "jl4961"

# your repository name containing 
REPO = "my-repo"

# Data Processing

In this lab, you will use various types of tools -- from high-level tools like Data Wrangler to command line tools like `sed` and `awk` -- to perform data parsing and extraction from data encoded into a text file.  The goal of this lab is simply to gain experience with these tools and compare and contrast their usage.

The `lab` directory contains two datasets that you will work with:

1. A dataset of all the movies in 2013 from January to March (`2013films.txt`). It contains Movie name, Production house, Genre, Publisher and some other details.

1. The second dataset (`worldcup.txt`) is a snippet of the following Wikipedia webpage on [FIFA (Soccer) World Cup](http://en.wikipedia.org/wiki/FIFA_World_Cup).
Specifically it is a partially cleaned-up wiki source for the table toward the end of the page that lists teams finishing in the top 4.

***
# 1. Get Wrangling !!
***
Download the [Trifacta Wrangler](https://www.trifacta.com/products/wrangler/) tool. Load both the datasets into wrangler and try playing around with the tool.

Some tips using Wrangler:

* Check out the introduction [video](https://vimeo.com/19185801) to get a feel of how wrangler works.
* You may wanna start off by loading ~50 lines of data instead of the entire files and play around with the tool.
* Wrangler responds to mouse highlights and clicks on the displayed table cells by suggesting operations on the left sidebar.  
* Hovering over each element shows the result in the table view.  
* Clicking adds the operation.  
* Clear the sidebar by clicking the colored row above the schema row.

## Tasks:

Use Data Wrangler for the following two datasets.

### 2013films.txt

Use the tool to generate output as follows, i.e., Movie name, Production/Distribtuion house, Director, Genre and publisher. 

        'A dark truth, Magnolia Pictures, Damian Lee, Action,ComingSoon.net
         Table No. 21, Eros International, Aditya Datt, Thriller, BoxOfficeMojo.com
         ...
        
For the purpose of explanation columns are separated by ||. You can choose any pattern to extract information. 

1. Movie name can be identified as first column in every line formatted as ''[[ <movie name> ]]''  
1. Production/Distribution house is the following column that is formatted as [[< Production house>]]  
1. Director name can be identified with "(director)" tag that follows the name  
1. Genre is present in the next column but make sure to extract only second part that is separated by | operator. For eg. in [Action film|Action] relevant information is Action  
1. Publisher name can be identified in the last column with format "publisher=<publisher name>"  
1. It may help to skip first few lines that contains html code, so that you process actual records.

#### Questions

* Use wrangler to clean the data, then determine which Production/Distribution house produced maximum movies.

#### Notes
* Your wrangler script is not expected to be sophisticated enough to generate the results for the question asked. It just needs to clean/combine the data enough for you to observe the data and answer the question.
* You can export the transformations you carried out in wrangler.
Export the script and paste it in the cell below. Do not bother executing it here in the notebook.
* Stanford also has an online open-source version of Trifacta Wrangler that can be used [here](http://vis.stanford.edu/wrangler/).

In [ ]:
# your wrangler script goes in this cell below

### worldcup.txt

Use the tool to generate output as follows, i.e., each line in the output contains a country, a year, and the position of the county in that year (if within top 4).

        BRA, 1962, 1
        BRA, 1970, 1
        BRA, 1994, 1
        BRA, 2002, 1
        BRA, 1958, 1
        BRA, 1998, 2
        BRA, 1950, 2
        ...

It may help to 

1. Skip the first 20 or so rows of table headers and other text, so that the data wrangler works with are "record text".  
2. Delete the rows that are clearly HTML formatting content
3. Extract the relevant data from the remaining column into new columns
4. Use the fill operation

#### Questions

* According to the dataset, how often has each country won the world cup?

#### Notes
* Your wrangler script is not expected to be sophisticated enough to generate the results for the question asked. It just needs to clean/combine the data enough for you to observe the data and answer the question.
* You can export the transformations you carried out in wrangler. Export the script and paste it in the cell below. Do not bother executing it here in the notebook.

In [ ]:
# your wrangler script goes in this cell below

***
# 2. Grep, Sed & Awk
***

The set of three UNIX tools, sed, awk, and grep, can be very useful for quickly cleaning up and transforming data for further analysis (and have been around since the inception of UNIX). In conjunction with other unix utilities like sort, uniq, tail, head, etc., you can accomplish many simple data parsing and cleaning tasks with these tools. You are encouraged to play with these tools and familiarize yourselves with the basic usage of these tools.

# grep

```bash
grep 'regexp' filename
```

or equivalently (using UNIX pipelining):

```bash
cat filename | grep 'regexp'
```

The output contains only those lines from the file that match the regular expression. Two options to grep are useful: grep -v will output those lines that do not match the regular expression, and grep -i will ignore case while matching. See the manual (man grep) (or online resources) for more details.

# sed

Sed stands for stream editor. Basic syntax for sed is:

```bash
sed 's/regexp/replacement/g' filename
```

For each line in the intput, the portion of the line that matches regexp (if any) is replaced with replacement. Sed is quite powerful within the limits of operating on single line at a time. You can use \( \) to refer to parts of the pattern match. In the first sed command above, the sub-expression within \( \) extracts the user id, which is available to be used in the replacement as \1.

# awk

Finally, awk is a powerful scripting language (not unlike perl). The basic syntax of awk is:

```bash
awk -F',' 'BEGIN{commands} /regexp1/ {command1} /regexp2/ {command2} END{commands}'
```

For each line, the regular expressions are matched in order, and if there is a match, the corresponding command is executed (multiple commands may be executed for the same line). BEGIN and END are both optional. The -F',' specifies that the lines should be split into fields using the separator ",", and those fields are available to the regular expressions and the commands as $1, $2, etc. See the manual (man awk) or online resources for further details.

# EXAMPLES

#### Note
There's nothing to submit in the examples section. Task to carry out and submit will follow after this section. Just play around and get a hang of the bash commands described here

***

We start off by copying the files from our instabase repository to the VM filesystem our instabse instance is running on.
Remember, you'll have to execute the cell below everytime the VM is restarted (happens when you close and restart the notebook) before you can proceed with the bash examples that follow.

In [2]:
with ib.open("labor.csv") as f:
    labor=f.read()
with ib.open("crime-clean.txt") as f:
    crime_clean=f.read()
with ib.open("crime-unclean.txt") as f:
    crime_unclean=f.read()

open('/tmp/labor.csv','w').write(labor)
open('/tmp/crime-clean.txt','w').write(crime_clean)
open('/tmp/crime_unclean.txt','w').write(crime_unclean)

A few examples to give you a flavor of the tools and what one can do with them.

* Perform the equivalent of wrap on labor.csv (i.e., merge consecutive groups of lines referring to the same record)

In [3]:
%%bash 

cat /tmp/labor.csv | awk '/^Series Id:/ {print combined; combined = $0} 
                    !/^Series Id:/ {combined = combined", "$0;}
                    END {print combined}'

Series Id: LNU02000000, Series title: (Unadj) Employment Level, Labor force status: Employed, Type of data: Number in thousands, Age: 16 years and over
Series Id: LNU03000000, Series title: (Unadj) Unemployment Level, Labor force status: Unemployed, Type of data: Number in thousands, Age: 16 years and over
Series Id: LNU04000000, Series title: (Unadj) Unemployment Level, Labor force status: Unemployed, Type of data: Number in thousands, Age: 16 years and over
Series Id: LNU02032201, Series title: (Unadj) Employment Level - Management, Professional, and Related Occupations, Labor force status: Employed, Type of data: Number in thousands, Age: 16 years and over, Occupation: Management, professional, and related occupations (0008-3540)
Series Id: LNU05000000, Series title: (Unadj) Unemployment Level, Labor force status: Unemployed, Type of data: Number in thousands, Age: 16 years and over
Series Id: LNU03032215, Series title: (Unadj) Unemployment Level - Management, Professional, and Related Occupations, Labor force status: Unemployed, Type of data: Number in thousands, Age: 16 years and over, Labor force experience: Experienced, Occupation: Management, professional, and related occupations (0008-3540)

*Note that all bash cells begin with **%%bash**. This indicates that, what follows is a bash code/script.*


* On crime-clean.txt, the following command does a fill (first row of output: "Alabama, 2004, 4029.3".

In [4]:
%%bash 

cat /tmp/crime-clean.txt | grep -v '^,$' | awk '/^[A-Z]/ {state = $4} !/^[A-Z]/ {print state, $0}'
#cat crime-clean.txt | grep -v '^,$' | awk '/^[A-Z]/ {state = $4} !/^[A-Z]/ {print state, $0}'

Alabama, 2004,4029.3
Alabama, 2005,3900
Alabama, 2006,3937
Alabama, 2007,3974.9
Alabama, 2008,4081.9
Alaska, 2004,3370.9
Alaska, 2005,3615
Alaska, 2006,3582
Alaska, 2007,3373.9
Alaska, 2008,2928.3
Arizona, 2004,5073.3
Arizona, 2005,4827
Arizona, 2006,4741.6
Arizona, 2007,4502.6
Arizona, 2008,4087.3
Arkansas, 2004,4033.1
Arkansas, 2005,4068
Arkansas, 2006,4021.6
Arkansas, 2007,3945.5
Arkansas, 2008,3843.7
California, 2004,3423.9
California, 2005,3321
California, 2006,3175.2
California, 2007,3032.6
California, 2008,2940.3
Colorado, 2004,3918.5
Colorado, 2005,4041
Colorado, 2006,3441.8
Colorado, 2007,2991.3
Colorado, 2008,2856.7
Connecticut, 2004,2684.9
Connecticut, 2005,2579
Connecticut, 2006,2575
Connecticut, 2007,2470.6
Connecticut, 2008,2490.8
Delaware, 2004,3283.6
Delaware, 2005,3118
Delaware, 2006,3474.5
Delaware, 2007,3427.1
Delaware, 2008,3594.7
District 2004,4852.8
District 2005,4490
District 2006,4653.9
District 2007,4916.3
District 2008,5104.6
Florida, 2004,4182.5
Florida, 2005,4013
Florida, 2006,3986.2
Florida, 2007,4088.8
Florida, 2008,4140.6
Georgia, 2004,4223.5
Georgia, 2005,4145
Georgia, 2006,3928.8
Georgia, 2007,3893.1
Georgia, 2008,3996.6
Hawaii, 2004,4795.5
Hawaii, 2005,4800
Hawaii, 2006,4219.9
Hawaii, 2007,4119.3
Hawaii, 2008,3566.5
Idaho, 2004,2781
Idaho, 2005,2697
Idaho, 2006,2386.9
Idaho, 2007,2264.2
Idaho, 2008,2116.5
Illinois, 2004,3174.1
Illinois, 2005,3092
Illinois, 2006,3019.6
Illinois, 2007,2935.8
Illinois, 2008,2932.6
Indiana, 2004,3403.6
Indiana, 2005,3460
Indiana, 2006,3464.3
Indiana, 2007,3386.5
Indiana, 2008,3339.6
Iowa, 2004,2904.8
Iowa, 2005,2845
Iowa, 2006,2870.3
Iowa, 2007,2648.6
Iowa, 2008,2440.5
Kansas, 2004,4015.5
Kansas, 2005,3806
Kansas, 2006,3858.5
Kansas, 2007,3693.8
Kansas, 2008,3397
Kentucky, 2004,2540.2
Kentucky, 2005,2531
Kentucky, 2006,2621.9
Kentucky, 2007,2524.6
Kentucky, 2008,2677.1
Louisiana, 2004,4419.1
Louisiana, 2005,3696
Louisiana, 2006,4088.5
Louisiana, 2007,4196.1
Louisiana, 2008,3880.2
Maine, 2004,2413.7
Maine, 2005,2419
Maine, 2006,2546.1
Maine, 2007,2448.3
Maine, 2008,2463.7
Maryland, 2004,3640.7
Maryland, 2005,3551
Maryland, 2006,3481.2
Maryland, 2007,3431.5
Maryland, 2008,3516
Massachusetts, 2004,2468.2
Massachusetts, 2005,2358
Massachusetts, 2006,2396
Massachusetts, 2007,2399.2
Massachusetts, 2008,2402
Michigan, 2004,3066.1
Michigan, 2005,3098
Michigan, 2006,3226
Michigan, 2007,3057.8
Michigan, 2008,2945.7
Minnesota, 2004,3041.6
Minnesota, 2005,3088
Minnesota, 2006,3088.8
Minnesota, 2007,3045
Minnesota, 2008,2858.1
Mississippi, 2004,3481.1
Mississippi, 2005,3274
Mississippi, 2006,3213
Mississippi, 2007,3137.8
Mississippi, 2008,2941.7
Missouri, 2004,3900.1
Missouri, 2005,3929
Missouri, 2006,3828.4
Missouri, 2007,3828.2
Missouri, 2008,3663.6
Montana, 2004,2936.1
Montana, 2005,3146
Montana, 2006,2863.4
Montana, 2007,2863.6
Montana, 2008,2720.9
Nebraska, 2004,3519.6
Nebraska, 2005,3432
Nebraska, 2006,3364.9
Nebraska, 2007,3142.8
Nebraska, 2008,2878.3
Nevada, 2004,4210
Nevada, 2005,4246
Nevada, 2006,4099.6
Nevada, 2007,3785.1
Nevada, 2008,3456.4
New 2004,2051.9
New 2005,1839
New 2006,2061.8
New 2007,1968.6
New 2008,2132.1
New 2004,2433
New 2005,2337
New 2006,2278.4
New 2007,2205.5
New 2008,2293.4
New 2004,4198.4
New 2005,4132
New 2006,3947.5
New 2007,3846.7
New 2008,3817.4
New 2004,2192.5
New 2005,2102
New 2006,2063.2
New 2007,1992.1
New 2008,1993.7
North 2004,4160.5
North 2005,4080
North 2006,4119.5
North 2007,4101.8
North 2008,4041.1
North 2004,1963.4
North 2005,2025
North 2006,2088.6
North 2007,1996.8
North 2008,2016.3
Ohio, 2004,3662.3
Ohio, 2005,3668
Ohio, 2006,3716.2
Ohio, 2007,3461.6
Ohio, 2008,3419.2
Oklahoma, 2004,4242.1
Oklahoma, 2005,4047
Oklahoma, 2006,3625
Oklahoma, 2007,3549.8
Oklahoma, 2008,3456.6
Oregon, 2004,4635.4
Oregon, 2005,4402
Oregon, 2006,3719.1
Oregon, 2007,3530.1
Oregon, 2008,3299.2
Pennsylvania, 2004,2417.3
Pennsylvania, 2005,2422
Pennsylvania, 2006,2451
Pennsylvania, 2007,2364.4
Pennsylvania, 2008,2412.4
Rhode 2004,2886
Rhode 2005,2728
Rhode 2006,2614.6
Rhode 2007,2602.2
Rhode 2008,2845
South 2004,4536.9
South 2005,4370
South 2006,4277.1
South 2007,4282.6
South 2008,4241.2
South 2004,1931.6
South 2005,1767
South 2006,1811.1
South 2007,1774
South 2008,1706.1
Tennessee, 2004,4326.8
Tennessee, 2005,4300
Tennessee, 2006,4137.7
Tennessee, 2007,4092.2
Tennessee, 2008,4048.3
Texas, 2004,4497.7
Texas, 2005,4319
Texas, 2006,4084.2
Texas, 2007,4121.6
Texas, 2008,3987
Utah, 2004,4038.6
Utah, 2005,3837
Utah, 2006,3505.3
Utah, 2007,3510.1
Utah, 2008,3374
Vermont, 2004,2343.6
Vermont, 2005,2370
Vermont, 2006,2368
Vermont, 2007,2339
Vermont, 2008,2559.8
Virginia, 2004,2678.2
Virginia, 2005,2649
Virginia, 2006,2479.6
Virginia, 2007,2480
Virginia, 2008,2531.8
Washington, 2004,4846.7
Washington, 2005,4890
Washington, 2006,4483.3
Washington, 2007,4026
Washington, 2008,3785
West 2004,2555.8
West 2005,2633
West 2006,2639.9
West 2007,2543.6
West 2008,2554.4
Wisconsin, 2004,2665.7
Wisconsin, 2005,2669
Wisconsin, 2006,2820
Wisconsin, 2007,2842.8
Wisconsin, 2008,2761.1
Wyoming, 2004,3338.5
Wyoming, 2005,3158
Wyoming, 2006,2989.1
Wyoming, 2007,2883.2
Wyoming, 2008,2724.2

* On crime-clean.txt, the following script cleans the data. The following works assuming perfectly homogenous data (as the example on the Wrangler website is).

In [ ]:
%%bash

cat /tmp/crime-clean.txt |grep -v '^,$' | sed 's/,$//g; s/Reported crime in //; s/[0-9]*,//' | awk -F',' 'BEGIN {printf "State, 2004, 2005, 2006, 2007, 2008"} /^[A-Z]/ {print c; c=$0}  !/^[A-Z]/ {c=c", "$0;}  END {print c}'


* On crime-unclean.txt the follow script perfroms the same cleaning as above, but allows incomplete information (e.g., some years may be missing).

In [5]:
%%bash

cat /tmp/crime_unclean.txt | grep -v '^,$' | sed 's/Reported crime in //;' | 
        awk -F',' 'BEGIN {printf "State, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008\n"} /^[A-Z]/ || /^$/ { if(state) { printf(state); for(i = 2000; i <= 2008; i++) { if(array[i]) {printf("%s,", array[i])} else {printf("0,")} }; printf("\n");} state=$0; delete array} !/^[A-Z]/ {array[$1] = $2}'

State, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008
Alabama,0,0,0,0,4029.3,0,0,3974.9,4081.9,
Alaska,0,0,0,0,3370.9,3615,3582,3373.9,2928.3,
Arizona,0,0,0,0,5073.3,4827,4741.6,4502.6,4087.3,
Arkansas,0,0,0,0,4033.1,4068,4021.6,3945.5,3843.7,
California,0,0,0,0,3423.9,3321,3175.2,3032.6,2940.3,
Colorado,0,0,0,0,3918.5,4041,3441.8,2991.3,2856.7,
Connecticut,0,0,0,0,2684.9,2579,2575,2470.6,2490.8,
Delaware,0,0,0,0,3283.6,3118,3474.5,3427.1,3594.7,
District of Columbia,0,0,0,0,4852.8,4490,4653.9,4916.3,5104.6,
Florida,0,0,0,0,4182.5,4013,3986.2,4088.8,4140.6,
Georgia,0,0,0,0,4223.5,4145,3928.8,3893.1,3996.6,
Hawaii,0,0,0,0,4795.5,4800,4219.9,4119.3,3566.5,
Idaho,0,0,0,0,2781,2697,2386.9,2264.2,2116.5,
Illinois,0,0,0,0,3174.1,3092,3019.6,2935.8,2932.6,
Indiana,0,0,0,0,3403.6,3460,3464.3,3386.5,3339.6,
Iowa,0,0,0,0,2904.8,2845,2870.3,2648.6,2440.5,
Kansas,0,0,0,0,4015.5,3806,3858.5,3693.8,3397,
Kentucky,0,0,0,0,2540.2,2531,2621.9,2524.6,2677.1,
Louisiana,0,0,0,0,4419.1,3696,4088.5,4196.1,3880.2,
Maine,0,0,0,0,2413.7,2419,2546.1,2448.3,2463.7,
Maryland,0,0,0,0,3640.7,3551,3481.2,3431.5,3516,
Massachusetts,0,0,0,0,2468.2,2358,2396,2399.2,2402,
Michigan,0,0,0,0,3066.1,3098,3226,3057.8,2945.7,
Minnesota,0,0,0,0,3041.6,3088,3088.8,3045,2858.1,
Mississippi,0,0,0,0,3481.1,3274,3213,3137.8,2941.7,
Missouri,0,0,0,0,3900.1,3929,3828.4,3828.2,3663.6,
Montana,0,0,0,0,2936.1,3146,2863.4,2863.6,2720.9,
Nebraska,0,0,0,0,3519.6,3432,3364.9,3142.8,2878.3,
Nevada,0,0,0,0,4210,4246,4099.6,3785.1,3456.4,
New Hampshire,0,0,0,0,2051.9,1839,2061.8,1968.6,2132.1,
New Jersey,0,0,0,0,2433,2337,2278.4,2205.5,2293.4,
New Mexico,0,0,0,0,4198.4,4132,3947.5,3846.7,3817.4,
New York,0,0,0,0,2192.5,2102,2063.2,1992.1,1993.7,
North Carolina,0,0,0,0,4160.5,4080,4119.5,4101.8,4041.1,
North Dakota,0,0,0,0,1963.4,2025,2088.6,1996.8,2016.3,
Ohio,0,0,0,0,3662.3,3668,3716.2,3461.6,3419.2,
Oklahoma,0,0,0,0,4242.1,4047,3625,3549.8,3456.6,
Oregon,0,0,0,0,4635.4,4402,3719.1,3530.1,3299.2,
Pennsylvania,0,0,0,0,2417.3,2422,2451,2364.4,2412.4,
Rhode Island,0,0,0,0,2886,2728,2614.6,2602.2,2845,
South Carolina,0,0,0,0,4536.9,4370,4277.1,4282.6,4241.2,
South Dakota,0,0,0,0,1931.6,1767,1811.1,1774,1706.1,
Tennessee,0,0,0,0,4326.8,4300,4137.7,4092.2,4048.3,
Texas,0,0,0,0,4497.7,4319,4084.2,4121.6,3987,
Utah,0,0,0,0,4038.6,3837,3505.3,3510.1,3374,
Vermont,0,0,0,0,2343.6,2370,2368,2339,2559.8,
Virginia,0,0,0,0,2678.2,2649,2479.6,2480,2531.8,
Washington,0,0,0,0,4846.7,4890,4483.3,4026,3785,
West Virginia,0,0,0,0,2555.8,2633,2639.9,2543.6,2554.4,
Wisconsin,0,0,0,0,2665.7,2669,2820,2842.8,2761.1,
Wyoming,0,0,0,0,3338.5,3158,2989.1,2883.2,2724.2,

We provided the last example to show how powerful awk can be. However if you need to write a long command like this, you may be better off using a proper scripting language like perl or python!

# Finally, the tasks.

* Use the awk "split" function and "for loop" constructs on World Cup data, to again generate output as follows, i.e., each line in the output contains a country, a year, and the position of the county in that year (if within top 4).

        BRA, 1962, 1
        BRA, 1970, 1
        BRA, 1994, 1
        BRA, 2002, 1
        BRA, 1958, 1
        BRA, 1998, 2
        BRA, 1950, 2
        ...

* Start with the given script that cleans up the data a little bit.
* No need to re-answer the questions in the Wrangler section, but recompute them to ensure your answers are consistent.

In [6]:
with ib.open("worldcup.txt") as f:
    world_cup=f.read()
    
open('/tmp/worldcup.txt','w').write(world_cup)

In [7]:
%%bash 

cat /tmp/worldcup.txt| sed 's/\[\[\([0-9]*\)[^]]*\]\]/\1/g; s/.*fb|\([A-Za-z]*\)}}/\1/g; s/<sup><\/sup>//g; s/|bgcolor[^|]*//g; s/|align=center[^|]*//g'

! Team !! Titles !! Runners-up !! Third place !! Fourth place !! Top 4 <br/> finishes
|-
BRA
|5 (1958, 1962, 1970, 1994, 2002)
|2 (1950, 1998)
|2 (1938, 1978)
|1 (1974)
|10
|-
ITA
|4 (1934, 1938, 1982, 2006)
|2 (1970, 1994)
|1 (1990)
|1 (1978)
|8
|-
GER
|3 (1954, 1974, 1990)
|4 (1966, 1982, 1986, 2002)
|4 (1934, 1970, 2006, 2010)
|1 (1958)
|12
|-
ARG
|2 (1978, 1986)
|2 (1930, 1990)
| —
| —
|4
|-
URU
|2 (1930, 1950)
| —
| —
|3 (1954, 1970, 2010)
|5
|-
FRA
|1 (1998)
|1 (2006)
|2 (1958, 1986)
|1 (1982)
|5
|-
ENG
|1 (1966)
| —
| —
|1 (1990)
|2
|-
ESP
|1 (2010)
| —
| —
|1 (1950)
|2
|-
NED
| —
|3 (1974, 1978, 2010)
| —
|1 (1998)
|4
|-
TCH
| —
|2 (1934, 1962)
| —
| —
|2
|-
HUN
| —
|2 (1938, 1954)
| —
| —
|2
|-
SWE
| —
|1 (1958)
|2 (1950, 1994)
|1 (1938)
|4
|-
POL
| —
| —
|2 (1974, 1982)
| —
|2
|-
AUT
| —
| —
|1 (1954)
|1 (1934)
|2
|-
POR
| —
| —
|1 (1966)
|1 (2006)
|2
|-
USA
| —
| —
|1 (1930)
| —
|1
|-
CHI
| —
| —
|1 (1962)
| —
|1
|-
CRO
| —
| —
|1 (1998)
| —
|1
|-
TUR
| —
| —
|1 (2002)
| —
|1
|-
YUG
| —
| —
| —
|2 (1930, 1962)
|2
|-
URS
| —
| —
| —
|1 (1966)
|1
|-
BEL
| —
| —
| —
|1 (1986)
|1
|-
BUL
| —
| —
| —
|1 (1994)
|1
|-
KOR
| —
| —
| —
|1 (2002)
|1
|-
:<div id="1">''<nowiki>*</nowiki> = hosts''
:<div id="2">''<nowiki>^</nowiki> = includes results ''</div>
:<div id="3">''<sup><nowiki>#</nowiki></sup> = ''<ref name="successor"/></div>


# Questions

1. From your experience, briefly discuss the pro and cons between using Data Wrangler as compared to lower levels tools like sed/awk?
2. What additional operations would have made using Data Wrangler "easier"?

#### Note
While responding to markdown cells (as the one below), in case you struggle with formatting, just double click any of the markdown cells in the notebook to see how formatting is done. You may also consult the documentation [here](http://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/Working%20With%20Markdown%20Cells.html)

***
### Add your response below:

1.

2.

***
# 3. Tableau
***

Finally, you will perform data exploration with Tableau.

1. Go to the [Tableau Website](https://www.tableau.com/), and download a demo version of Tableau.

    * Tableau gives students a 1 year free license, which can be requested [here](http://www.tableau.com/freeforstudents).

2. Connect Tableau to the the OnTime database, hosted on a postgreSQL server we set up for the course.
To do so, create a new Tableau workbook.
In the workbook, goto data and add a new data source using the credentials below:

    * Type: PostgreSQL (you may have to download an additional driver for postgreSQL, [here](https://www.tableau.com/support/drivers)) (only if you can't connect)
    * Hostname: pg-001.db.gcloud.instabase.com
    * Username: columbia
    * Password: B%38Mt5W@M*QU?Ar
    * Database: db_fea10998_f88d_4b6e_8f90_a6cd73bac65c
    * You should use the table called "Ontime".
    
3. Explore the dataset using Tableau.

The aim of this assignment is to understand (1) which flights are the likeliest to be delayed (2) why they are delayed (3) what we could have missed in the data

**(1) Which flights are delayed? (You're expected to answer any 2 of the 5 questions below)**
- Long flights or short flights?
- Which companies?
- At what time of the day?
- Which state are the most impacted?
- Take California. Which cities are the most concerned? And how about NY state?

**(2) Why are flights delayed? (You're expected to answer any 2  of the 6 questions below)**
- What is the likeliest cause of delays?
- Does that depend on the region?
- Compare California and NY state
- Compare Morning flights and evening flights
- Compare weekends and rest of the week
- Compare first week of dataset and last week

**(3) what we could have missed in the data**
- Find three quirky facts about flight delays. Anything goes, as long it involves at least one aggregate and one filter.

***
### Add you response below:

***
1(a) (Question):

1(a) (Response):

***
1(b) (Question):

1(b) (Response):

***
2(a) (Question):

2(a) (Response):

***
2(b) (Question):

2(b) (Response):

***
3 (Response):


# Submission

* Got to 'File' and download this notebook as .ipynb
* Rename it as **data\_processing\_[your uni].ipynb**
* Then submit it on Instabase.